/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/
.mainvisual-cap{
	position: absolute;
	left: 21px;
	bottom: 13px;
	font-size: 187.5%;
	font-weight: bold;
	color: map-get($global-color, a);
}
.text-center{
  text-align: center;
}
.section-pankuzu{
	@include clearfix();
	padding: 10px 0 20px;
	font-size: 75%;
	color: map-get($global-color, d);
  .container{
    max-width: 1331px;
    @media screen and (max-width: 1350px) {
      max-width: 100%;
    }
  }
  a{
    color: map-get($global-color, d);
    &:hover,
    &:focus{
      color: map-get($global-color, active);
    }
  }
}
.panel-article{
  @include clearfix();
  margin: 0;
  padding: 25px 0 47px 0;
  h1{
    margin: 0 0 25px;
    font-size: 184.6%;
    font-weight: 700;
    line-height: 1.4;
    color: map-get($global-color, b);
    &.heading-center-h1{
      margin-bottom: 35px;
      text-align: center;
      color: map-get($global-color, c);
      .room-acreage{
        position: relative;
        padding-left: 12px;
        margin-left: 6px;
        display: inline-block;
        font-size: 83.3%;
        &:before{
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -11px;
          content: '';
          width: 2px;
          height: 20px;
          color: map-get($global-color, a);
          background-color: map-get($global-color, c);
        }
      }
    }
    &.uppercase{
      text-transform: uppercase;
    }
  }
  h2{
    margin: 0 0 22px;
  }
  h3{
    margin: 0 0 20px;
  }
  h4{
    margin: 0 0 20px;
  }
  h5{
    margin: 0 0 20px;
  }
  h6{
    margin: 0 0 20px;
  }
  .panel-inner{
    @include clearfix();
		margin: 0 auto;
    overflow: hidden;
		max-width: 800px;
    font-size: 81.3%;
    p{
      margin-bottom: 10px;
      &.para-distance{
        margin-bottom: 20px;
      }
      &.para-first{
        margin-bottom: 0;
      }
    }
    table{
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
}
.alacarte-cate{
	@include clearfix();
	padding: 0;
	overflow: hidden;
	.container{
		max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
	}
}
.alacarte-list{
  @include clearfix();
  @include equal_height();
  margin: 0 -17px;
	list-style: none;
	padding: 0;
  .alacarte-item{
    padding: 0 17px;
    float: left;
    width: 33.3333333%;
    margin-bottom: 40px;
    @media screen and (max-width: 950px) {
      padding: 0 7px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 850px) {
      width: 50%;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      float: none;
    }
  }
  @media screen and (max-width: 950px) {
    margin: 0 -7px 20px;
  }
}
.alacarte-figure{
  @include clearfix();
  margin-bottom: 0;
  height: 100%;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  .alacarte-image{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
			vertical-align: top
    }
  }
  .alacarte-caption{
    @include clearfix();
    padding: 24px 0 0;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
    .alacarte-heading{
      margin-bottom: 20px;
      font-weight: bold;
      color: #000000;
      a{
        color: #000000;
        &:hover,
        &:focus{
          color: map-get($global-color, active);
        }
      }
    }
    .sightseeing-heading{
      margin-bottom: 13px;
      font-weight: bold;
      color: #000000;
      font-size: 93.75%;
      a{
        padding-right: 31px;
        display: inline-block;
        color: #000000;
        background: transparent url(#{$base-url}/icon-target-link.svg) no-repeat right bottom 5px scroll;
        background-size: 15px auto;
        text-decoration: underline;
        &:hover,
        &:focus{
          text-decoration: none;
          color: map-get($global-color, active);
        }
      }
    }
    .sightseeing-para{
      font-size: 81.3%;
      line-height: 1.6;
    }
		.serving-descipt{
			@include clearfix();
			padding: 8px 0 1px;
      margin-top: 39px;
			border-top: 2px solid #cccccc;
			font-size: 81.3%;
			.serving-num,
			.tax-in{
				display: inline-block;
			}
			.serving-num{
				margin-right: 30px;
			}
		}
  }
}
.alacarte-outline{
	@include clearfix();
	padding: 40px 15px 30px;
	margin-bottom: 68px;
	font-size: 81.3%;
	color: map-get($global-color, c);
	background-color: map-get($global-color, i);
	.outline-list{
		padding: 0 15px;
		float: left;
		width: calc(50% - 24px);
	}
}
.outline-list{
	margin: 0 0 0 24px;
	padding: 0;
	list-style: outside;
	li{
		margin-bottom: 5px;
		a{
			text-decoration: none;
			&:hover,
			&:focus{
				text-decoration: underline;
			}
		}
	}
}
.alacarte-group{
  @include clearfix();
  margin-bottom: 13px;
  .alacarte-list{
    justify-content: flex-start;
  }
  &:last-child{
    margin-bottom: 31px;
  }
}
.alacarte-group-ttl{
  @include clearfix();
  h2{
    margin-bottom: 29px;
    padding-left: 4px;
    font-size: 150%;
    font-weight: bold;
  }
}
.trip-panel{
  @include clearfix();
  padding-bottom: 70px;
  overflow: hidden;
  .container{
		max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
	}
  .trip-wrap{
    @include clearfix();
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .trip-bathing,
  .trip-usage-hours{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .trip-bathing{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  .trip-usage-hours{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
}
.trip-heading{
  @include clearfix();
  h4{
    margin-bottom: 10px;
    font-size: 93.75%;
    font-weight: bold;
  }
}
.trip-desc{
  @include clearfix();
  margin: 0 0 0 20px;
  list-style: outside;
  font-size: 81.3%;
  li{
    margin-bottom: 3px;
  }
}
.onsen-panel{
  @include clearfix();
  padding-top: 18px;
  .container{
		max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
	}
}
.onsen-list{
  @include clearfix();
  @include equal_height();
  margin: 0 -16px;
	list-style: none;
	padding: 0;
  .onsen-item{
    padding: 0 16px;
    float: left;
    width: 33.3333333%;
    margin-bottom: 40px;
    @media screen and (max-width: 950px) {
      padding: 0 7px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 850px) {
      width: 50%;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      float: none;
    }
  }
  &.onsen-two{
    margin: 0 -17px;
    .onsen-item{
      padding: 0 17px;
      float: left;
      width: 50%;
      margin-bottom: 25px;
      @media screen and (max-width: 950px) {
        padding: 0 7px;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 850px) {
        width: 50%;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
        float: none;
      }
    }
    @media screen and (max-width: 950px) {
      margin: 0 -7px 20px;
    }
  }
  @media screen and (max-width: 950px) {
    margin: 0 -7px 20px;
  }
}
.onsen-figure{
  @include clearfix();
  margin-bottom: 0;
  height: 100%;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  .onsen-image{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
			vertical-align: top
    }
  }
  .onsen-caption{
    @include clearfix();
    padding: 19px 0 0;
    .onsen-heading{
      margin-bottom: 10px;
      font-weight: bold;
      color: #000000;
      font-size: 93.75%;
      a{
        display: inline-block;
        background-size: 15px auto;
        text-decoration: none;
        &:hover,
        &:focus{
          text-decoration: underline;
          color: map-get($global-color, active);
        }
      }
    }
    .onsen-para{
      font-size: 81.3%;
      line-height: 1.6;
    }
  }
}
.room-region{
  padding-top: 17px;
}
.section-spring{
  @include clearfix();
  padding: 50px 0 27px;
  color: map-get($global-color, a);
  background-color: map-get($global-color, c);
  .container{
    max-width: 1220px;
    @media screen and (max-width: 1240px) {
      max-width: 100%;
    }
  }
}
.spring-ttl{
  @include clearfix();
  h2{
    margin-bottom: 30px;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: map-get($global-color, a);
  }
}
.efficacy-cate{
  overflow: hidden;
}
.efficacy-list{
  @include clearfix();
  @include equal_height();
  margin: 0 -13px;
	list-style: none;
	padding: 0;
  .efficacy-item{
    padding: 0 13px;
    float: left;
    width: 25%;
    margin-bottom: 20px;
    @media screen and (max-width: 950px) {
      padding: 0 7px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 850px) {
      width: 50%;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      float: none;
    }
  }
  @media screen and (max-width: 950px) {
    margin: 0 -7px 20px;
  }
}
.efficacy-figure{
  @include clearfix();
  margin-bottom: 0;
  height: 100%;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  .efficacy-image{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
			vertical-align: top
    }
  }
  .efficacy-caption{
    @include clearfix();
    padding: 20px 0 0;
    color: map-get($global-color, a);
    .efficacy-heading{
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 93.75%;
      color: map-get($global-color, f);
      a{
        color: map-get($global-color, f);
        &:hover,
        &:focus{
          color: map-get($global-color, active);
        }
      }
    }
  }
}
.efficacy-media{
  @include clearfix();
  font-size: 81.3%;
  .efficacy-label{
    padding-right: 5px;
    float: left;
    width: 73px;
    font-weight: bold;
    p{
      padding-right: 10px;
      border-bottom: 1px solid #999999;
      display: inline-block;
      font-weight: bold;
    }
  }
  .efficacy-detail{
    overflow: hidden;
    p{
      font-weight: normal;
      line-height: 1.6;
    }
  }
}
.section-powder{
  @include clearfix();
  padding: 60px 0 35px;
  color: map-get($global-color, c);
  background-color: map-get($global-color, a);
  .container{
		max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
	}
}
.powder-wrap{
  @include clearfix();
  .powder-left{
    padding-right: 51px;
    float: left;
    width: 325px;
  }
  .powder-main{
    overflow: hidden;
  }
}
.powder-ttl{
  @include clearfix();
  h4{
    margin-bottom: 25px;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.supplies-para{
  margin-bottom: 16px;
  font-size: 93.75%;
  font-weight: bold;
  padding-bottom: 11px;
  border-bottom: 1px solid #999999;
}
.supplies-list{
  @include clearfix();
  @include equal_height();
  list-style: outside;
  padding: 0;
  margin: 0 0 24px 24px;
  font-size: 81.3%;
  li{
    margin-bottom: 3px;
    float: left;
    width: 50%;
    padding-right: 5px;
  }
}
.supplies-photo{
  @include clearfix();
  img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
}
.hot-spring{
  @include clearfix();
  margin-bottom: 40px;
  font-size: 81.3%;
  p{
    margin-bottom: 3px
  }
}
.usage-fees{
  @include clearfix();
  margin-bottom: 10px;
  font-size: 93.75%;
  p{
    margin-bottom: 3px;
    &.supplies-para{
      margin-bottom: 16px;
    }
  }
}
.accent-para{
  color: map-get($global-color, accent);
}
.fees-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 81.3%;
  .fees-item{
    @include clearfix();
    margin-bottom: 28px;
    .fees-name{
      padding-right: 5px;
      float: left;
      width: 114px;
      font-weight: bold;
    }
    .fees-cap{
      overflow: hidden;
    }
  }
}
.fees-sub{
  list-style: outside;
  padding: 0;
  margin: 0 0 0 18px;
}
.onsen-article-image{
  @include clearfix();
  margin: 40px 0;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
  }
}
.section-commitment{
  @include clearfix();
  padding: 38px 0 20px;
  min-height: 200px;
  color: map-get($global-color, a);
  background: transparent url(#{$base-url}/bg-cuisine-pc.jpg) no-repeat center top scroll;
  .container{
    max-width: 1232px;
    @media screen and (max-width: 1252px) {
      max-width: 100%;
    }
  }
}
.commitment-media{
  @include clearfix();
  color: map-get($global-color, a);
  h4{
    margin-bottom: 15px;
    font-size: 93.75%;
    font-weight: bold;
  }
  p{
    font-size: 81.3%;
  }
}
.section-dinner{
  @include clearfix();
  padding: 52px 0 14px;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
  }
  .onsen-figure{
    position: relative;
    padding-bottom: 48px;
    .booking-action{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
.section-special{
  @include clearfix();
  padding: 45px 0 0;
  overflow: hidden;
  color: map-get($global-color, c);
  background-color: #e3e3e3;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
  }
}
.onsen-figure-pos{
  position: relative;
  padding-bottom: 40px;
  .booking-action{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.section-breakfast{
  @include clearfix();
  padding: 50px 0 51px;
  color: map-get($global-color, c);
  background-color: map-get($global-color, a);
  .container{
    max-width: 1100px;
    @media screen and (max-width: 1120px) {
      max-width: 100%;
    }
  }
}
.onsen-para{
  margin-bottom: 10px;
}
.breakfast-ttl{
  @include clearfix();
  text-align: center;
  margin-bottom: 46px;
  h2{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 150%;
  }
  p{
    margin-bottom: 10px;
    font-size: 81.3%;
  }
}
.dinner-ttl{
  @include clearfix();
  text-align: center;
  margin-bottom: 25px;
  h2{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 150%;
  }
  p{
    margin-bottom: 10px;
    font-size: 81.3%;
  }
}
.dish-list{
  @include clearfix();
  list-style: outside;
  padding: 0;
  margin: 0 0 15px 24px;
  font-size: 81.3%;
  li{
    margin-bottom: 3px;
  }
}
.booking-action{
  @include clearfix();
}
.shofukugozen-heading{
  @include clearfix();
  margin-bottom: 18px;
  text-align: center;
  font-size: 150%;
}
.restaurant-media{
  @include clearfix();
  .restaurant-image,
  .restaurant-main{
    margin-bottom: 20px;
    float: left;
    width: 50%;
    padding: 0 29px;
  }
  .restaurant-image{
    img{
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
.restaurant-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  > li{
    @include clearfix();
    padding: 16px 0;
    border-bottom: 1px solid #999999;
  }
}
.restaurant-heading{
  margin-bottom: 20px;
  font-size: 93.75%;
}
.restaurant-para{
  font-size: 81.3%;
}
.restaurant-label{
  float: left;
  width: 123px;
  padding-right: 5px;
  font-size: 81.3%;
  font-weight: bold;
}
.restaurant-oclock{
  overflow: hidden;
}
.section-accommo{
  @include clearfix();
  padding: 0 0 36px;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
  }
  .accommodation-figure{
    .accommodation-caption{
      padding-top: 16px;
      .accommodation-heading{
        margin-bottom: 3px;
      }
    }
  }
}
.accommodation-wrap{
  overflow: hidden;
}
.book-button{
  @include clearfix();
  margin-top: 24px;
  overflow: hidden;
  .book-list{
    @include clearfix();
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    li{
      padding: 0 5px;
      float: left;
      width: 50%;
    }
  }
}
.accommodation-wrap{
  .accommodation-list{
    .accommodation-item{
      margin-bottom: 44px;
    }
  }
}
.section-supplies{
  padding: 0 0 46px;
  @include clearfix();
  color: map-get($global-color, c);
  background-color: map-get($global-color, a);
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
  }
}
.onsen-cate{
  margin-bottom: 10px;
}
.supplies-box{
  @include clearfix();
  @include border-radius(2px);
  border: 2px solid #cccccc;
  padding: 30px 24px 7px 44px;
  margin-bottom: 40px;
  align-items: center;
}
.supplies-media{
  @include clearfix();
  .row-wrap{
    @include flexbox();
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  .col-left,
  .col-right,
  .col-main{
    padding: 0 20px;
  }
  .col-left{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.1%;
    flex: 0 0 24.1%;
    max-width: 24.1%;
  }
  .col-right{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28.8%;
    flex: 0 0 28.8%;
    max-width: 28.8%;
  }
  .col-main{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
    .supplies-basic-list{
      float: left;
      min-width: 145px;
    }
  }
}
.supplies-panel{
  @include clearfix();
  margin-bottom: 30px;
  .supplies-basic-ttl{
    padding-bottom: 8px;
    margin-bottom: 12px;
    color: map-get($global-color, g);
    font-size: 93.8%;
    border-bottom: 1px solid #999999;
  }
}
.supplies-basic-list{
  @include clearfix();
  list-style: outside;
  padding: 0;
  margin: 0 0 0 20px;
  font-size: 81.3%;
  li{
    margin-bottom: 3px;
    padding-right: 5px;
    a{
      &:hover,
      &:focus{
        text-decoration: underline;
      }
    }
  }
}
.supplies-heading{
  @include clearfix();
  text-align: center;
  h3{
    margin-bottom: 27px;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.text-sm{
  font-size: 77%;
}