/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/
.section-facility{
  @include clearfix();
  overflow: hidden;
  .container{
    max-width: 1275px;
    @media screen and (max-width: 1300px) {
      max-width: 100%;
    }
  }
}
.facility-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  > li{
    @include clearfix();
    padding: 16px 0;
    border-bottom: 1px solid #999999;
  }
}
.facility-descript{
  @include clearfix();
  min-width: 506px;
  .facility-heading{
    margin-bottom: 20px;
    font-size: 150%;
  }
  .mb5{
    margin-bottom: 5px !important;
  }
  .facility-sub-para{
    margin-bottom: 20px;
    font-size: 81.3%;
  }
  .facility-para{
    font-size: 81.3%;
  }
  .facility-label{
    float: left;
    width: 123px;
    padding-right: 5px;
    font-size: 81.3%;
    font-weight: bold;
  }
  .facility-oclock{
    overflow: hidden;
  }
}
.cornerstone-cate{
  @include clearfix();
}
.cornerstone-cate{
  @include clearfix();
}
.cornerstone-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  .cornerstone-item{
    @include clearfix();
    margin-bottom: 65px;
    &:first-child{
      margin-bottom: 88px;
    }
    &:nth-child(2n){
      .facility-region{
        @include clearfix();
        .facility-photo{
          right: -111px;
        }
        .facility-descript{
          left: 0;
          right: auto;
          padding: 26px 67px 40px 0;
          .facility-label{
            width: 224px;
          }
          .facility-front{
            padding-bottom: 23px;
          }
          .facility-list{
            >li{
              padding: 15px 0;
            }
          }
        }
      }
    }
    &:nth-child(2n+1){
      .facility-region{
        .facility-photo{
          left: -56px;
        }
        .facility-descript{
          right: 0;
          left: auto;
        }
      }
    }
  }
}
.facility-region{
  @include clearfix();
  position: relative;
  .facility-photo{
    @include clearfix();
    position: relative;
    img{
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
.facility-descript{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 23px 15px 40px 55px;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
}
.section-genshirin{
  @include clearfix();
  padding: 10px 0 45px;
  .container{
    max-width: 1050px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
    }
  }
  .dish-list{
    margin-bottom: 0;
  }
}
.available-hour{
  @include clearfix();
  margin-top: 15px;
  padding: 15px 0 14px;
  font-size: 81.3%;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  .available-label{
    padding-right: 10px;
    float: left;
    width: 127px;
  }
  .available-time{
    overflow: hidden;
  }
}
.iframe-map {
  margin-bottom: 39px;
  .iframe-inner{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.section-map{
  @include clearfix();
  .container{
    max-width: 974px;
    @media screen and (max-width: 1000px) {
      max-width: 100%;
    }
  }
}
.enlarge-button{
  @include clearfix();
  margin-bottom: 30px;
  .btn-enlarge{
    margin: 0 auto;
    max-width: 320px;
  }
}
.contact-address{
  @include clearfix();
  margin-bottom: 45px;
  text-align: center;
  font-style: normal;
  .contact-ttl{
    margin-bottom: 10px;
    color: #000000;
  }
  .contact-para{
    font-size: 81.3%;
  }
}
.section-train{
  @include clearfix();
  padding-bottom: 60px;
  .container{
    max-width: 1063px;
    @media screen and (max-width: 1100px) {
      max-width: 100%;
    }
  }
}
.train-ttl{
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 125%;
  font-weight: bold;
  background: transparent url(#{$base-url}/icon-train.svg) no-repeat scroll;
  background-size: 24px auto;
}
.air-ttl{
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 125%;
  font-weight: bold;
  background: transparent url(#{$base-url}/icon-air.svg) no-repeat scroll;
  background-size: 27px auto;
}
.train-pc{
  @media screen and (max-width: 750px) {
    display: none;
  }
}
.train-sp{
  display: none;
  @media screen and (max-width: 750px) {
    display: block;
  }
}
.road-panel{
  @include clearfix();
  margin-bottom: 40px;
}
.access-heading{
  @include clearfix();
  h1{
    margin-bottom: 38px;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
  }
}