/*************************************
**************************************
These are the styles for
the breadcrumb partial
**************************************
**************************************/
.section-breadcrumb {
  @include clearfix();
  position: relative;
  clear: both;
  margin: 0;
  padding: 8px 0;
  z-index: 10;
  display: block;
  color: #64686E;
  background-color: map-get($global-color, a);
  border-bottom: 1px solid #e4e8ec;
  .breadcrumb{
    @include border-radius(0);
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background: none;
    font-size: 1.2rem;
    .breadcrumb-item{
      padding-top: 3px;
      padding-bottom: 3px;
      + .breadcrumb-item{
        position: relative;
        padding-left: 24px;
        &:before{
          @include transform(rotate(-45deg));
          position: absolute;
          top: 50%;
          left: 12px;
          margin-top: -3px;
          content: '';
          display: inline-block;
          vertical-align: middle;
          border: solid #7D7A7A;
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 2px;
        }
      }
      a {
        color: map-get($global-color, title);
        &:hover,
        &:focus {
          text-decoration: underline;
          color: map-get($global-color, title);
        }
      }
    }
  }
  span {
    a {
      color: map-get($global-color, title);
      &:hover,
      &:focus {
        text-decoration: underline;
        color: map-get($global-color, title);
      }
    }
  }
}