/*************************************
**************************************
These are the styles for
the button section
**************************************
**************************************/

//@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn {
  @include transition(all 0.2s ease-out 0s);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  text-decoration: none;
  border: 0;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
/* .btn:not(:disabled):not(.disabled):active, 
.btn:not(:disabled):not(.disabled).active{
  background-image: initial;
} */
.btn-smoking,
a.btn-smoking,
.btn-non-smoking,
a.btn-non-smoking{
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  display: block;
  padding: 5px 10px;
  text-align: center;
  font-size: 81.3%;
  font-weight: bold;
  color: #000000;
  background: #C7BD96;
  border: 1px solid #C7BD96;
  &:hover, &:focus, &:active{
    @include box-shadow(none);
    color: #000000;
    border-color: map-get($global-color, active);
    background-color: map-get($global-color, active);
  }
}
.equipment-button{
  @include clearfix();
  margin-bottom: 50px;
  text-align: center;
  a{
    @include box-shadow(none);
    @include transition(all 0.2s ease 0s);
    display: inline-block;
    padding: 8px 10px 6px;
    text-align: center;
    font-size: 81.3%;
    font-weight: bold;
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #333333;
    text-transform: uppercase;
    min-width: 198px;
    &:hover, &:focus, &:active{
      @include box-shadow(none);
      color: #000000;
      border-color: map-get($global-color, active);
      background-color: map-get($global-color, active);
    }
  }
}
.btn-booking,
a.btn-booking{
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  display: block;
  padding: 10px 10px;
  text-align: center;
  font-size: 81.3%;
  font-weight: bold;
  color: #000000;
  background: #C7BD96;
  border: 1px solid #C7BD96;
  &:hover, &:focus, &:active{
    @include box-shadow(none);
    color: #000000;
    border-color: map-get($global-color, active);
    background-color: map-get($global-color, active);
  }
}
.btn-book-now,
a.btn-book-now{
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  display: block;
  padding: 4px 10px;
  text-align: center;
  font-size: 81.3%;
  font-weight: bold;
  color: #000000;
  background: #C7BD96;
  border: 2px solid #C7BD96;
  text-transform: uppercase;
  &:hover, &:focus, &:active{
    @include box-shadow(none);
    color: #000000;
    border-color: map-get($global-color, active);
    background-color: map-get($global-color, active);
  }
}
.btn-see-detail,
a.btn-see-detail{
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  display: block;
  padding: 4px 10px;
  text-align: center;
  font-size: 81.3%;
  font-weight: bold;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #f1eee5;
  &:hover, &:focus, &:active{
    @include box-shadow(none);
    color: #000000;
    border-color: map-get($global-color, active);
    background-color: map-get($global-color, a);
  }
}
.btn-enlarge,
a.btn-enlarge{
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  display: block;
  padding: 9px 10px 8px;
  text-align: center;
  font-size: 81.3%;
  font-weight: bold;
  color: #000000;
  background: #C7BD96;
  border: 1px solid #C7BD96;
  &:after{
    position: relative;
    top: -1px;
    margin-left: 7px;
    vertical-align: middle;
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    color: inherit;
    background: transparent url(#{$base-url}/icon-target-link.svg) no-repeat scroll;
  }
  &:hover, &:focus, &:active{
    @include box-shadow(none);
    color: #000000;
    border-color: map-get($global-color, active);
    background-color: map-get($global-color, active);
  }
}