/*************************************
**************************************
These are the styles for
the header section
**************************************
**************************************/

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 100px;
  width: 100%;
  .logo {
    margin: 9px 12px 0 6px;
    float: left;
    width: 250px;
    h1,
    p {
      margin: 0;
      font-size: 0;
      width: 250px;
      height: 14px;
      text-indent: -9999px;
      color: inherit;
      background: transparent url(#{$base-url}/logo-pc.svg) no-repeat scroll;
      a {
        display: block;
        width: 250px;
      height: 14px;
      }
      span {
        display: block;
        width: 250px;
        height: 14px;
        position: relative;
        z-index: -1;
        overflow: hidden;
      }
    }
    @media screen and (max-width: 750px) {
      margin-top: 20px;
      margin-left: 10px;
    }
    @media screen and (max-width: 365px) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 750px) {
    margin-bottom: 0;
    height: 64px;
  }
}
.header-front{
  @include clearfix();
  position: relative;
  color: map-get($global-color, a);
  background-color: rgba(77, 77, 77, 0.9);
  min-height: 30px;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100% - 1320px)/2);
    height: 30px;
    color: map-get($global-color, a);
    background-color: map-get($global-color, d);
  }
}
.setting-wrap{
  float: right;
}
.setting-top{
  @include clearfix();
  float: left;
}
.setting-list{
  @include clearfix();
  list-style: none;
  padding: 8px 27px 1px 0;
  margin: 0;
  float: left;
  li{
    margin-left: 22px;
    float: left;
    line-height: normal;
    &:first-child{
      margin-left: 0;
    }
    a{
      display: inline-block;
      vertical-align: top;
      color: map-get($global-color, a);
      font-size: 75%;
      color: inherit;
      &:hover,
      &:focus{
        color: map-get($global-color, active);
      }
    }
    &.faq-link{
      a{
        padding-left: 20px;
        background: transparent url(#{$base-url}/icon-question.svg) no-repeat scroll;
        background-size: 14px auto;
      }
    }
    &.contact-link{
      a{
        padding-left: 21px;
        background: transparent url(#{$base-url}/icon-email.svg) no-repeat 0 2px scroll;
        background-size: 15px auto;
      }
    }
  }
}
.language-top{
  float: left;
  @include clearfix();
  padding: 3px 1px 4px 14px;
  background-color: map-get($global-color, d);
  min-height: 30px;
  ul{
    @include clearfix();
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    float: left;
    color: inherit;
    background: transparent url(#{$base-url}/icon-language.svg) 0 3px no-repeat scroll;
    background-size: 14px auto;
    li{
      position: relative;
      padding: 0 5px;
      float: left;
      line-height: normal;
      a{
        font-size: 56.3%;
        color: map-get($global-color, a);
        &:hover,
        &:focus{
          color: map-get($global-color, active);
        }
      }
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -4px;
        width: 1px;
        height: 12px;
        color: map-get($global-color, c);
        background-color: map-get($global-color, a);
      }
      &:first-child{
        &:before{
          display: none;
        }
      }
    }
  }
}
.header-bellow{
  @include clearfix();
  position: relative;
  padding: 19px 0;
  background-color: rgba(26, 26, 26, 0.9);
}
/*Fixed Header*/
.fixed-header #header {
  position: fixed;
  right: 0;
  left: 0;
  top: -84px;
  transition: top 0.5s ease-in-out;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  @media screen and (max-width: 750px) {
    top: -64px;
  }
}
.fixed-header #header.disp-header {
    top: 0;
    min-height: 84px;
    box-shadow: 0 0 8px 2px rgba(74, 74, 74, 0.24);
    -moz-box-shadow: 0 0 8px 2px rgba(74, 74, 74, 0.24);
    -webkit-box-shadow: 0 0 8px 2px rgba(74, 74, 74, 0.24);
    @media screen and (max-width: 750px) {
      min-height: 64px;
    }
}
.main-menu{
  @media screen and (max-width: 750px) {
    #header{
      color: map-get($global-color, b);
      border-color: #FFFFFF;
      background-color: #FDF0E5;
    }
  }
}
.nav-home-txt{
  position: relative;
  top: -1px;
  display: none;
}
.wrap-logo{
  position: relative;
  z-index: 1;
  float: left;
  width: 270px;
  margin-right: -270px;
}
.wrap-mean{
  width: 100%;
  float: right;
  .mean-aside{
    margin-left: 270px;
    min-height: 31px;
    .mean-inner{
      float: right;
    }
  }
}
/*Navigation*/
.navigation{
  position: relative;
  margin-top: 7px;
  padding-right: 23px;
  color: map-get($global-color, a);
  float: left
}
.book-now{
  float: left;
  a{
    @include transition(0.3s background-color ease-in-out);
    padding: 5px 10px 5px 17px;
    min-width: 115px;
    display: inline-block;
    font-size: 87.5%;
    text-transform: uppercase;
    font-weight: bold;
    color: map-get($global-color, a);
    background-color: map-get($global-color, b);
    &:hover,
    &:focus{
      background-color: map-get($global-color, button-hvr);
    }
  }
}
.menu {
  @include clearfix();
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  > .menu-item {
    position: relative;
    padding: 0 15px 0 16px;
    float: left;
    > a {
      @include transition(0.3s color ease-in-out);
      position: relative;
      padding: 0 0 4px;
      display: block;
      color: map-get($global-color, a);
      font-size: 87.5%;
      line-height: 1.4;
      &:after {
        @include border-radius(0);
        @include transform(translate3d(0, 0, 0));
        @include transition(0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55));
        position: absolute;
        left: 50%;
        right: 50%;
        height: 2px;
        bottom: 0;
        content: '';
        color: map-get($global-color, a);
        background-color: map-get($global-color, active);
        @media screen and (max-width: 970px) {
          display: none;
        }
      }
      &:hover,
      &:focus {
        &:after {
          left: 0;
          right: 0;
        }
        @include transition(0.3s color ease-in-out);
        color: map-get($global-color, active);
      }
      &.sf-arr{
        @media screen and (max-width: 970px) {
          padding-right: 25px;
        }
        &:after{
          @media screen and (max-width: 970px) {
            @include transform(rotate(45deg));
            @include transition(0.3s all ease-in-out);
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -7px;
            content: "";
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
          }
        }
      }
      @media screen and (max-width: 1180px) {
        padding: 13px 12px 8px;
      }
      @media screen and (max-width: 1110px) {
        padding: 13px 9px 8px;
      }
      @media screen and (max-width: 920px) {
        padding: 13px 12px 12px;
        font-size: 1.5rem;
        min-height: inherit;
      }
    }
    &.active,
    &.current-menu-item,
    &.current-category-ancestor,
    &.current-post-parent,
    &.sfHover {
      >a {
        color: map-get($global-color, active);
        &:after {
          left: 0;
          right: 0;
        }
        &.sf-arr{
          &:after{
            @media screen and (max-width: 970px) {
              margin-top: -5px;
              @include transform(rotate(-135deg));
              @include transition(0.3s all ease-in-out);
            }
          }
        }
      }
    }
    .sub-menu {
      @include border-radius(3px);
      @include box-shadow(0 4px 12px 0 rgba(0,0,0,0.15));
      display: none;
      position: absolute;
      left: 50%;
      z-index: 500;
      padding: 0;
      margin: 5px 0 0 -75px;
      min-width: 150px;
      max-width: 150px;
      list-style: none;
      background: #B72C1E;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      .menu-item-has-children{
        > a{
          &:after{
            @media screen and (min-width: 970px) {
              display: none;
            }
          }
        }
      }
      .sub-menu{
        top: 0;
        left: 160px;
        margin-left: 0;
        @media screen and (min-width: 970px) {
          padding-bottom: 7px;
        }
      }
      li {
        position: relative;
        float: none;
        margin-left: 0;
        padding: 0;
        border-bottom: 1px solid rgba(187, 77, 51, 0.5);
        a {
          position: relative;
          display: block;
          padding: 14px 14px 11px;
          clear: both;
          font-size: 1.2rem;
          line-height: 1.42857143;
          color: #ffffff;
          @media screen and (max-width: 970px) {
            display: block;
            font-size: 1.4rem;
            &:before{
              @include border-radius(50%);
              position: absolute;
              left: 0;
              top: 16px;
              display: block;
              content: '';
              opacity: 0.5;
              color: #ffffff;
              background-color: #fcd116;
              width: 8px;
              height: 8px;
            }
          }
          &:hover,
          &:focus {
            text-decoration: none;
            color: map-get($global-color, active);
            @media screen and (max-width: 1150px) {
              color: map-get($global-color, active);
            }
            &:before{
              @media screen and (max-width: 970px) {
                opacity: 1;
                background-color: map-get($global-color, accent);
              }
            }
          }
          @media screen and (max-width: 970px) {
            padding: 11px 10px 11px 23px;
            color: map-get($global-color, a);
          }
        }
        &:last-child{
          border-bottom: 0;
        }
        @media screen and (max-width: 970px) {
          background-color: transparent;
          border-bottom: 0;
        }
      }
      @media screen and (max-width: 970px) {
        @include border-radius(0);
        @include box-shadow(none);
        position: static;
        padding: 0 0 15px 25px;
        text-align: left;
        margin: 0;
        max-width: inherit;
        width: 100%;
        background: none;
      }
    }
    @media screen and (max-width: 970px) {
      margin-right: 0;
      float: none;
      border: 0;
      border-bottom: 1px solid #FFFFFF;
    }
  }
  .menu-item-has-children{
    > a{
      position: relative;
      &:after{
        @include transform(rotate(45deg));
        @include transition(all 0.3s ease-in-out);
        content: '';
        position: absolute;
        right: 3px;
        top: 50%;
        margin-top: -8px;
        border: solid #ffffff;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        @media screen and (max-width: 970px) {
          right: 15px;
          margin-top: -4px;
        }
      }
      &:hover,
      &:focus{
        &:after{
          border-color: map-get($global-color, accent);
        }
      }
    }
    &.active{
      > a{
        position: relative;
        &:after{
          border-color: map-get($global-color, accent);
          @media screen and (max-width: 970px) {
            @include transform(rotate(-135deg));
            @include transition(all 0.3s ease-in-out);
            margin-top: -3px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 970px) {
    @include border-radius(0);
    padding: 0;
  }
}
/*************************************
**************************************
No Javascript
**************************************
**************************************/
.no-javascript #header {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}